@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

@-webkit-keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slide {
  0% {
    padding: 0 20px;
    width: auto;
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    padding: 0 20px;
    width: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    padding: 0 20px;
    width: auto;
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    padding: 0 20px;
    width: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 500px) {
  .fonctionnement_titre,
  .restaurants_titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .menu_block {
    min-width: 30%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.center, .city_banner, .reservation_texte, .info_texte, .button, .button_texte, .card_fonctionnement, .number, .new_text, .menu_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.gradient, .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

a {
  text-decoration: none;
  color: #000;
}

.logo_ohmyfood {
  text-align: center;
  margin: 20px;
}

.logo_width {
  width: 60%;
  max-width: 300px;
}

.city_banner {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 4px 5px #d0d0d0;
          box-shadow: inset 0px 4px 5px #d0d0d0;
}

.city_texte {
  font-weight: bold;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

.reservation {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

.reservation_texte {
  padding: 30px 80px 0 80px;
  margin: 0;
}

.info_texte {
  padding: 0 20px 10px;
}

.button {
  border-radius: 30px;
  height: 50px;
  width: 230px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 5px #d0d0d0;
          box-shadow: 0px 4px 5px #d0d0d0;
}

.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 6px 3px #d0d0d0;
          box-shadow: 0px 6px 3px #d0d0d0;
}

.button_texte {
  color: #fff;
}

.texte_fonctionnement {
  margin: 30px 20px;
  font-weight: bold;
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: #353535;
}

.cards_fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_fonctionnement {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 70px;
  background-color: #f6f6f6;
  width: 300px;
  margin: 25px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 5px #d0d0d0;
          box-shadow: 0px 4px 5px #d0d0d0;
}

.card_fonctionnement:hover {
  background: #f5edff;
}

.card_fonctionnement:hover .fa-mobile-alt,
.card_fonctionnement:hover .fa-list-ul,
.card_fonctionnement:hover .fa-store {
  color: #9356dc;
}

.fonctionnement_titre {
  font-weight: bolder;
  margin-left: 25px;
}

.number {
  margin-right: 25px;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  left: -10px;
}

.restaurants_titre {
  font-weight: bolder;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.restaurants_name {
  font-weight: bold;
}

.cards_restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_restaurants {
  border-radius: 15px;
  height: 250px;
  width: 100%;
  max-width: 500px;
  -webkit-box-shadow: 0px 4px 5px #d0d0d0;
          box-shadow: 0px 4px 5px #d0d0d0;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}

.card_restaurants:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.restaurants_name {
  margin-bottom: 0;
}

.restaurants_location {
  margin-top: 5px;
}

.img_restaurants {
  width: auto;
  height: 170px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.fa-heart {
  font-size: 1.7em;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.fa-heart:hover {
  -webkit-animation: fade 1s ease-in;
          animation: fade 1s ease-in;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.new {
  background-color: #90ee90;
  height: 30px;
  width: 90px;
  position: absolute;
  bottom: 200px;
  right: 20px;
  border-radius: 5px;
}

.new_text {
  margin: 5px;
  color: #008000;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  color: #fff;
  padding: 30px;
}

.footer_link {
  color: #fff;
}

.footer_logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 130px;
  margin-bottom: 10px;
}

.footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
}

.footer_margin {
  margin: 7px 0;
}

.scale:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.fa-arrow-left {
  padding: 20px;
}

.fa-arrow-left:hover {
  border-radius: 50%;
  background-color: #f6f6f6;
}

.logo_ohmyfood_menu {
  text-align: initial;
  margin: auto;
  padding: 0 20px 0 0;
}

.logo_width {
  width: auto;
}

.photo {
  position: absolute;
  top: 3rem;
  width: 100%;
}

.photo_img {
  border-radius: initial;
}

.menu {
  position: relative;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_title_text {
  margin: 0.5rem 0 1rem 1rem;
  font-family: "Shrikhand";
  font-size: 1.6rem;
}

.fa-heart {
  margin: 1rem 1rem 0 0;
}

.menu_block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 8px 16px;
  width: 300px;
}

.menu_titre {
  padding: 3px 0;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}

.card_menu {
  padding-left: 15px;
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 30rem;
  -webkit-box-shadow: 0px 4px 10px #d0d0d0;
          box-shadow: 0px 4px 10px #d0d0d0;
}

.card_menu:hover .fa-check-circle {
  -webkit-animation: rotation 0.5s 1 linear;
          animation: rotation 0.5s 1 linear;
}

.card_menu:hover .menu_check {
  -webkit-animation: slide 0.5s ease 0s 1 normal forwards;
          animation: slide 0.5s ease 0s 1 normal forwards;
}

.card_menu_text {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card_menu_text_title {
  width: 100%;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_menu_text_subtitle {
  width: 100%;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_menu_price {
  width: 3rem;
  min-height: 100%;
  margin: 0 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
}

.order_button {
  min-width: 100%;
}

.hidden {
  -webkit-animation: hidden 8s;
  animation: hidden 8s;
  -moz-animation: hidden 8s;
  -o-animation: hidden 8s;
}

.loading {
  width: 0;
  height: 0;
  z-index: 100;
  top: 0;
  position: fixed;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #353535;
}

.animation_loading {
  width: 30px;
  height: 30px;
  border: 0.25rem solid #fff;
  border-top-color: #9356dc;
  background-color: #fff;
  border-radius: 50%;
  -webkit-animation: spin 1s 4 linear;
          animation: spin 1s 4 linear;
}

.fa-check-circle {
  color: #fff;
  font-size: 1.7em;
}

.menu_check {
  width: 0;
  padding: 0;
  background-color: #99e2d0;
}

.first {
  -webkit-animation: fade 2s ease-out;
  animation: fade 2s ease-out;
}

.second {
  -webkit-animation: fade 5s ease-out;
  animation: fade 3s ease-out;
}

.third {
  -webkit-animation: fade 8s ease-out;
  animation: fade 4s ease-out;
}
/*# sourceMappingURL=main.css.map */