footer {
  display: flex;
  flex-direction: column;
  background-color: $dark_gray;
  color: $white;
  padding: 20px 30px;
}
.footer_link {
  color: $white;
}
.footer__logo {
  font-family: "Shrikhand";
  color: $white;
  margin: 5px 50px 0 0;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: initial;
}
.footer_box {
  display: flex;
  align-items: center;
}
.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
}
.footer_margin {
  margin: 6px 0;
}
.footer_margin_left{
  margin-left: 6px;
}
.scale:hover {
  transform: scale(1.03);
}
.contact{
  padding-bottom: 15px;
}
