footer {
  display: flex;
  flex-direction: column;
  background-color: $dark_gray;
  color: $white;
  padding: 30px;
}
.footer_link {
  color: $white;
}
.footer__logo {
  font-family: "Shrikhand";
  color: $white;
  margin: 5px 50px 0 0;
  font-size: larger;
}
.footer_box {
  display: flex;
  align-items: center;
}
.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
}
.footer_margin {
  margin: 7px 0;
}
.scale:hover{
  transform: scale(1.03);
}