@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
// color
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$shadow: #d0d0d0;
$white: #fff;
$black: #000;
$primary_light: #f5edff;
$light_gray: #f6f6f6;
$gray: #eaeaea;
$dark_gray: #353535;
$green: #008766;
$light_green: #90e2d0;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gradient {
  background: linear-gradient(180deg, $secondary 0%, $primary 100%);
}
a {
  text-decoration: none;
  color: $black;
}
.header__logo {
  font-family: "Shrikhand";
  margin: 5px 50px 0 0;
  text-align: center;
  width: 100%;
}
.city_banner {
  @extend .center;
  background-color: $gray;
  box-shadow: inset 0px 4px 5px $shadow;
}
.city_texte {
  font-weight: bold;
}
.fa-map-marker-alt {
  margin-right: 20px;
}
.reservation {
  background-color: $light_gray;
  padding-bottom: 50px;
}
.reservation_texte {
  @extend .center;
  padding: 30px 70px 0 70px;
  font-weight: 900;
  margin: 0;
}
.info_texte {
  @extend .center;
  padding: 0 20px 10px;
}
.button {
  @include btn;
}
.button_texte {
  @extend .center;
  color: $white;
}
.texte_fonctionnement {
  margin: 30px 20px;
  font-weight: bold;
}
.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: $dark_gray;
}
.cards_fonctionnement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.card_fonctionnement {
  @extend .center;
  justify-content: flex-start;
  height: 70px;
  background-color: $light_gray;
  width: 300px;
  margin: 0px 10px 20px 25px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px $shadow;

  &:hover {
    background: $primary_light;
  }
  &:hover .fa-mobile-alt,
  &:hover .fa-list-ul,
  &:hover .fa-store {
    color: $primary;
  }
}

.fonctionnement_titre {
  font-weight: bolder;
  margin: 40px auto 20px 25px;
}
.number {
  @extend .center;
  margin-right: 25px;
  background-color: $primary;
  height: 25px;
  width: 25px;
  color: $white;
  border-radius: 50%;
  position: relative;
  left: -10px;
}
.restaurants_titre {
  font-weight: 900;
  margin-top: 30px;
}
#restaurants {
  background-color: $light_gray;
  padding: 20px 20px 50px;
}
.restaurants_name {
  font-weight: 900;
}
.cards_restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card_restaurants {
  border-radius: 15px;
  height: 250px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 5px $shadow;
  margin: 0 auto 20px;
  position: relative;

  &:hover {
    transform: scale(1.07);
  }
}
.card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.restaurants_name {
  margin-bottom: 0;
}
.restaurants_location {
  margin-top: 5px;
}
.img_restaurants {
  width: auto;
  height: 170px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.fa-heart {
  @include heart;
}
.new {
  background-color: $light_green;
  height: 30px;
  width: 90px;
  position: absolute;
  bottom: 205px;
  right: 15px;
  border-radius: 5px;
}
.new_text {
  @extend .center;
  margin: 5px;
  color: $green;
  font-weight: bold;
}
